db/db.sqlite
mkmf.log
coverage/
.*.swp
.idea
db/fixtures
.DS_Store
db/schema.rb
config/database.yml
log/*.log
log/*.pid
log/*.log.*
tmp/**/*
doc/api
doc/app
db/*sqlite3
nbproject/
test/
public/system
*.pidaproject
tmp/
*~
*.etmp
config/initializers/local_initializer.rb
*.orig
public/coverage
.loadpath
.project
Thumbs.db
#*.sqs
public/stylesheets/all.css
db/data/products.csv
public/products/*
public/business/*
public/images/business
public/themes/myelitesaving
db/data/import/*
script/redis*
.git
public/cache
rerun.txt
spec/spec.opts.netbeans
posix
.bundle
rdoc
*.rdb
cached_requests/
thin/development_config.yml
config/redis.yml
